body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.card {
  padding: 100px 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 10px 2px;
}

#quote {
  font-size: 20px;
}

#author {
  font-weight: 300;
  font-size: 15px;
}
